@import './resets';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand:wght@400&display=swap');
@import '../Themes/functions';
@import '../Layout/variables';

body {
    display: flex;
    flex-direction: column;
    font-family : 'Roboto', Arial, 'sans-serif';
    background-color: $color-primary;
    color: $text-color;
}