/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* display */
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-grid {
  display: -ms-grid;
  display: grid;
}

/* to organise flexboxes and grids */
.main-axis-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cross-axis-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*cards */
.card {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
}

.shadow {
  -webkit-box-shadow: 5px 5px 10px #AAA;
          box-shadow: 5px 5px 10px #AAA;
}

.rounded {
  border-radius: 20px;
}

/* objects */
a {
  text-decoration: none;
  -webkit-transform: scale(1);
          transform: scale(1);
}

a:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

img {
  width: 100%;
}

.hidden {
  display: none;
}

.show {
  display: inline-block;
}

/* text */
.uppercase {
  text-transform: uppercase;
}

h1 {
  line-height: 2rem;
  font-weight: 600;
  font-size: 1.5rem;
}

h2 {
  line-height: 2.2rem;
  font-weight: 600;
  font-size: 1.3rem;
}

h3 {
  font-weight: 550;
  font-size: 1.1rem;
}

h4 {
  font-weight: 550;
  font-size: 1rem;
}

.banner {
  margin-top: 75px;
}

/* colors */
.bg-primary {
  background-color: #9356DC;
}

.bg-secondary {
  background-color: #FF79DA;
}

.bg-tertiary {
  background-color: #99E2D0;
}

.bg-color {
  background-color: #F4F4F4;
}

.bg-discreet {
  background-color: rgba(200, 200, 200, 0.5);
}

.bg-lightgray {
  background-color: rgba(218, 218, 218, 0.3);
}

.bg-dark {
  background-color: #111;
}

.discreet {
  color: rgba(200, 200, 200, 0.5);
}

.f-white {
  color: #fff;
}

.f-lightgray {
  color: rgba(218, 218, 218, 0.3);
}

.highlighted {
  color: #9356DC;
}

.color-secondary {
  color: #FF79DA;
}

.color-tertiary {
  color: #99E2D0;
}

* {
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: 1;
}

a {
  text-decoration: none;
  color: #111;
}

a:hover {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', Arial, 'sans-serif';
  background-color: #F4F4F4;
  color: #111;
}

.loading-page {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: radial-gradient(#f4F4F4 0%, #C4C4C4 100%);
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

.loading-spinner {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #9356DC;
  margin-right: 10px;
}

.loading-spinner:nth-of-type(2) {
  background-color: #FF79DA;
}

/* header */
header {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #fff;
  position: relative;
}

#location {
  position: absolute;
  width: 100%;
  padding: 10px;
  bottom: 0;
}

.logo {
  max-width: 250px;
  min-width: 150px;
  height: 50px;
  margin: 20px;
}

/* all sections */
section {
  padding: 30px 10px 30px 10px;
}

section .title {
  margin-bottom: 20px;
  text-align: left;
}

aside {
  padding: 30px 15px 30px 15px;
  height: 250px;
}

aside .cta-btn {
  margin: 20px;
  padding: 10px 20px;
  background: linear-gradient(356deg, #9356dc 14%, #ff79da 100%);
  border-radius: 20px;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 500;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/* sections */
#explanations .card {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  padding: 20px 30px;
  border-radius: 20px;
}

#explanations .card p {
  font-weight: 600;
  font-size: 15px;
  margin-left: 20px;
}

#explanations .card .steps {
  position: absolute;
  left: -10px;
  top: 40%;
  left: -5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 500;
  border: none;
  background-color: #9356DC;
  color: #fff;
}

#restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#restaurants .card {
  height: 400px;
  width: 100%;
  position: relative;
}

#restaurants .card:not(:last-child) {
  margin-bottom: 20px;
}

#restaurants .details {
  margin: 10px;
}

#restaurants img {
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: 80%;
  -o-object-position: 0% 60%;
     object-position: 0% 60%;
}

#restaurants .new {
  position: absolute;
  right: 20px;
  top: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px;
  background-color: #99E2D0;
  color: #11D2F1;
  height: auto;
  border: none;
}

#restaurants .heart-icon {
  position: relative;
  margin-right: 20px;
  height: 30px;
  width: 30px;
}

#restaurants .heart-icon .fa-solid, #restaurants .heart-icon .fa-regular {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
}

#restaurants .heart-icon .fa-solid {
  opacity: 0;
  color: #9356DC;
}

#restaurants .heart-icon .fa-regular {
  opacity: 1;
}

/* footer */
footer {
  margin: 0;
  background-color: #444;
}

footer nav {
  width: 80%;
  height: 100%;
  left: 0;
  padding: 10px;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer li {
  text-align: left;
  list-style-type: none;
  margin-left: 0;
  color: #fff;
}

footer li a {
  color: #fff;
}

/* animations */
/* loading page */
@-webkit-keyframes loadingScreen {
  0% {
    opacity: 1;
    visibility: visible;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes loadingScreen {
  0% {
    opacity: 1;
    visibility: visible;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes loadingDots {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

@keyframes loadingDots {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

.loading-page {
  -webkit-animation: loadingScreen 2000ms 0s 1 forwards;
          animation: loadingScreen 2000ms 0s 1 forwards;
}

.loading-spinner {
  -webkit-animation: loadingDots 1000ms 0s 2 ease-out;
          animation: loadingDots 1000ms 0s 2 ease-out;
}

.loading-spinner:nth-of-type(2) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.loading-spinner:nth-of-type(3) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

/* card appearance effect once the page is loaded */
@-webkit-keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes transitionDelay {
  /* to keep the card opacity to 0 before the animation */
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes transitionDelay {
  /* to keep the card opacity to 0 before the animation */
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#explanations .card {
  -webkit-animation: 2200ms transitionDelay, 1s ease-out 2200ms 1 slideInLeft forwards;
          animation: 2200ms transitionDelay, 1s ease-out 2200ms 1 slideInLeft forwards;
}

#explanations .card:nth-of-type(2) {
  -webkit-animation: 2400ms transitionDelay, 1s ease-out 2400ms 1 slideInLeft forwards;
          animation: 2400ms transitionDelay, 1s ease-out 2400ms 1 slideInLeft forwards;
}

#explanations .card:nth-of-type(3) {
  -webkit-animation: 2600ms transitionDelay, 1s ease-out 2600ms 1 slideInLeft forwards;
          animation: 2600ms transitionDelay, 1s ease-out 2600ms 1 slideInLeft forwards;
}

#explanations .card:hover {
  background-color: #9356DC;
  color: #fff;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* buttons */
.btn, .cta-btn {
  opacity: 1;
}

.btn:hover, .cta-btn:hover {
  opacity: .8;
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.heart-icon .fa-regular:hover {
  -webkit-animation: disappear 200ms 0s 1 forwards ease-in;
          animation: disappear 200ms 0s 1 forwards ease-in;
}

.heart-icon .fa-solid:hover {
  -webkit-animation: appear 200ms 0s 1 forwards ease-in;
          animation: appear 200ms 0s 1 forwards ease-in;
}

/* media queries tablet and desktop */
@media screen and (min-width: 768px) {
  body {
    background-color: #fff;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }
  .container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
  }
  .page {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    scroll-snap-align: center;
  }
  .page:nth-of-type(1) {
    height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 'header' 'section' 'aside';
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
    height: 15vh;
    width: 100%;
    z-index: 1;
    position: fixed;
  }
  header #location {
    bottom: 0;
    width: 100%;
  }
  .title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
  }
  #explanations {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: section;
    height: 75vh;
    color: #9356DC;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #111;
  }
  #explanations .explanation--content {
    margin-top: 130px;
    width: 60%;
  }
  #explanations .explanation--content .title {
    font-size: 30px;
    font-weight: 700;
  }
  #explanations .card {
    height: 100px;
    width: 100%;
    background: linear-gradient(-10deg, #ff79da 0%, #9356dc 100%);
    color: #fff;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #explanations .card span {
    height: 30px;
    width: auto;
  }
  #explanations .card p {
    font-weight: 400;
    font-size: 25px;
  }
  #explanations .card .steps {
    background-color: #FF79DA;
    width: 30px;
    height: 30px;
  }
  #explanations .card:not(:last-child) {
    margin-bottom: 30px;
  }
  #explanations .shadow {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #CTA {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: aside;
    background-color: #F4F4F4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 25vh;
  }
  #CTA .cta-btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #restaurants {
    grid-area: restaurants;
    height: 100vh;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 75px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #restaurants .title {
    margin-left: 30px;
  }
  #restaurants .restaurants--cards {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 80%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #restaurants .card {
    margin: 30px 10px;
    width: 400px;
    height: 300px;
  }
  footer {
    grid-area: footer;
    height: 100vh;
  }
  footer .footer--navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  footer .footer--navbar ul {
    line-height: 4rem;
  }
  footer .footer--navbar ul li {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
  }
}
/*# sourceMappingURL=style.css.map */