@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
*,
*::before,
*::after, footer nav ul {
  margin: 0;
  padding: 0;
}

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* display */
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-grid {
  display: -ms-grid;
  display: grid;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

/* to organise flexboxes and grids */
.main-axis-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cross-axis-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*cards */
.card {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
  -webkit-box-shadow: 0px 14px 20px -12px rgba(176, 176, 176, 0.5);
          box-shadow: 0px 14px 20px -12px rgba(176, 176, 176, 0.5);
}

.shadow {
  -webkit-box-shadow: 5px 5px 10px #AAA;
          box-shadow: 5px 5px 10px #AAA;
}

.rounded-1 {
  border-radius: 10px;
}

.rounded-2 {
  border-radius: 20px;
}

.circle {
  border-radius: 50%;
}

/* objects */
a {
  text-decoration: none;
  -webkit-transform: scale(1);
          transform: scale(1);
}

a:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

img {
  width: 100%;
}

.hidden {
  display: none;
}

.show {
  display: inline-block;
}

/* text */
.uppercase {
  text-transform: uppercase;
}

h1 {
  line-height: 2rem;
  font-weight: 600;
  font-size: 1.5rem;
}

h2 {
  line-height: 2.2rem;
  font-weight: 600;
  font-size: 1.3rem;
}

h3 {
  font-weight: 550;
  font-size: 1.1rem;
}

h4 {
  font-weight: 400;
  font-size: 1rem;
}

.banner {
  margin-top: 75px;
}

.text-center {
  text-align: center;
}

/* colors */
.bg-primary {
  background-color: #9356DC;
}

.bg-secondary {
  background-color: #FF79DA;
}

.bg-tertiary {
  background-color: #99E2D0;
}

.bg-color {
  background-color: #F4F4F4;
}

.bg-discreet {
  background-color: rgba(200, 200, 200, 0.4);
}

.bg-lightgray {
  background-color: #F4F4F4;
}

.bg-dark {
  background-color: #111;
}

.discreet {
  color: rgba(200, 200, 200, 0.4);
}

.f-white {
  color: #fff;
}

.f-lightgray {
  color: #F4F4F4;
}

.highlighted {
  color: #9356DC;
}

.color-secondary {
  color: #FF79DA;
}

.color-tertiary {
  color: #99E2D0;
}

.p-0 {
  padding: 0em;
}

.px-0 {
  padding: 0px 0em;
}

.py-0 {
  padding: 0em 0px;
}

.p-1 {
  padding: 0.25em;
}

.px-1 {
  padding: 0px 0.25em;
}

.py-1 {
  padding: 0.25em 0px;
}

.p-2 {
  padding: 0.5em;
}

.px-2 {
  padding: 0px 0.5em;
}

.py-2 {
  padding: 0.5em 0px;
}

.p-3 {
  padding: 0.75em;
}

.px-3 {
  padding: 0px 0.75em;
}

.py-3 {
  padding: 0.75em 0px;
}

.p-4 {
  padding: 1em;
}

.px-4 {
  padding: 0px 1em;
}

.py-4 {
  padding: 1em 0px;
}

.p-5 {
  padding: 1.25em;
}

.px-5 {
  padding: 0px 1.25em;
}

.py-5 {
  padding: 1.25em 0px;
}

.m-0 {
  margin: 0em;
}

.mx-0 {
  margin: 0px 0em;
}

.my-0 {
  margin: 0em 0px;
}

.m-1 {
  margin: 0.25em;
}

.mx-1 {
  margin: 0px 0.25em;
}

.my-1 {
  margin: 0.25em 0px;
}

.m-2 {
  margin: 0.5em;
}

.mx-2 {
  margin: 0px 0.5em;
}

.my-2 {
  margin: 0.5em 0px;
}

.m-3 {
  margin: 0.75em;
}

.mx-3 {
  margin: 0px 0.75em;
}

.my-3 {
  margin: 0.75em 0px;
}

.m-4 {
  margin: 1em;
}

.mx-4 {
  margin: 0px 1em;
}

.my-4 {
  margin: 1em 0px;
}

.m-5 {
  margin: 1.25em;
}

.mx-5 {
  margin: 0px 1.25em;
}

.my-5 {
  margin: 1.25em 0px;
}

a {
  color: #111;
}

a:hover {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

html {
  min-width: 320px;
  max-width: 1440px;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  background-color: #F4F4F4;
  width: 4px;
}

html::-webkit-scrollbar-thumb {
  background-color: #9356DC;
  border-radius: 10px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', Arial, 'sans-serif';
  background-color: #F4F4F4;
  color: #111;
  overflow-x: hidden;
}

.container::before {
  display: block;
  content: "";
  height: 90px;
}

.menu-container::before {
  display: block;
  content: "";
  height: 60px;
}

.container, .menu-container {
  left: 0;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow-x: hidden;
}

.container::-webkit-scrollbar, .menu-container::-webkit-scrollbar {
  background-color: #F4F4F4;
  width: 4px;
}

.container::-webkit-scrollbar-thumb, .menu-container::-webkit-scrollbar-thumb {
  background-color: #9356DC;
  border-radius: 10px;
}

section {
  padding: 30px 15px;
}

section .title {
  margin-bottom: 20px;
  text-align: left;
  font-size: 26px;
  width: 100%;
}

/* display */
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-grid {
  display: -ms-grid;
  display: grid;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

/* to organise flexboxes and grids */
.main-axis-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cross-axis-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*cards */
.card {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
  -webkit-box-shadow: 0px 14px 20px -12px rgba(176, 176, 176, 0.5);
          box-shadow: 0px 14px 20px -12px rgba(176, 176, 176, 0.5);
}

.shadow {
  -webkit-box-shadow: 5px 5px 10px #AAA;
          box-shadow: 5px 5px 10px #AAA;
}

.rounded-1 {
  border-radius: 10px;
}

.rounded-2 {
  border-radius: 20px;
}

.circle {
  border-radius: 50%;
}

/* objects */
a {
  text-decoration: none;
  -webkit-transform: scale(1);
          transform: scale(1);
}

a:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

img {
  width: 100%;
}

.hidden {
  display: none;
}

.show {
  display: inline-block;
}

/* text */
.uppercase {
  text-transform: uppercase;
}

h1 {
  line-height: 2rem;
  font-weight: 600;
  font-size: 1.5rem;
}

h2 {
  line-height: 2.2rem;
  font-weight: 600;
  font-size: 1.3rem;
}

h3 {
  font-weight: 550;
  font-size: 1.1rem;
}

h4 {
  font-weight: 400;
  font-size: 1rem;
}

.banner {
  margin-top: 75px;
}

.text-center {
  text-align: center;
}

/* colors */
.bg-primary {
  background-color: #9356DC;
}

.bg-secondary {
  background-color: #FF79DA;
}

.bg-tertiary {
  background-color: #99E2D0;
}

.bg-color {
  background-color: #F4F4F4;
}

.bg-discreet {
  background-color: rgba(200, 200, 200, 0.4);
}

.bg-lightgray {
  background-color: #F4F4F4;
}

.bg-dark {
  background-color: #111;
}

.discreet {
  color: rgba(200, 200, 200, 0.4);
}

.f-white {
  color: #fff;
}

.f-lightgray {
  color: #F4F4F4;
}

.highlighted {
  color: #9356DC;
}

.color-secondary {
  color: #FF79DA;
}

.color-tertiary {
  color: #99E2D0;
}

.p-0 {
  padding: 0em;
}

.px-0 {
  padding: 0px 0em;
}

.py-0 {
  padding: 0em 0px;
}

.p-1 {
  padding: 0.25em;
}

.px-1 {
  padding: 0px 0.25em;
}

.py-1 {
  padding: 0.25em 0px;
}

.p-2 {
  padding: 0.5em;
}

.px-2 {
  padding: 0px 0.5em;
}

.py-2 {
  padding: 0.5em 0px;
}

.p-3 {
  padding: 0.75em;
}

.px-3 {
  padding: 0px 0.75em;
}

.py-3 {
  padding: 0.75em 0px;
}

.p-4 {
  padding: 1em;
}

.px-4 {
  padding: 0px 1em;
}

.py-4 {
  padding: 1em 0px;
}

.p-5 {
  padding: 1.25em;
}

.px-5 {
  padding: 0px 1.25em;
}

.py-5 {
  padding: 1.25em 0px;
}

.m-0 {
  margin: 0em;
}

.mx-0 {
  margin: 0px 0em;
}

.my-0 {
  margin: 0em 0px;
}

.m-1 {
  margin: 0.25em;
}

.mx-1 {
  margin: 0px 0.25em;
}

.my-1 {
  margin: 0.25em 0px;
}

.m-2 {
  margin: 0.5em;
}

.mx-2 {
  margin: 0px 0.5em;
}

.my-2 {
  margin: 0.5em 0px;
}

.m-3 {
  margin: 0.75em;
}

.mx-3 {
  margin: 0px 0.75em;
}

.my-3 {
  margin: 0.75em 0px;
}

.m-4 {
  margin: 1em;
}

.mx-4 {
  margin: 0px 1em;
}

.my-4 {
  margin: 1em 0px;
}

.m-5 {
  margin: 1.25em;
}

.mx-5 {
  margin: 0px 1.25em;
}

.my-5 {
  margin: 1.25em 0px;
}

#explanations {
  background-color: #fff;
  padding-top: 40px;
}

#explanations .card {
  margin-bottom: 25px;
  position: relative;
  width: 100%;
  padding: 25px 30px;
  background-color: #F4F4F4;
}

#explanations .card i {
  font-weight: 600;
  font-size: 1.4rem;
  color: #777;
  margin-left: 10px;
}

#explanations .card p {
  font-weight: 600;
  font-size: 1.3rem;
  margin-left: 25px;
}

#explanations .card .steps {
  left: -8px;
  top: 32%;
  width: 25px;
  height: 25px;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  background-color: #9356DC;
  color: #fff;
}

#restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 100px;
  /* otherwise it disappears under the header */
  scroll-snap-align: center;
}

#restaurants a:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 0px 15px 15px -15px #999;
          box-shadow: 0px 15px 15px -15px #999;
}

#restaurants .card {
  height: 350px;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

#restaurants .card .details {
  height: 20%;
  width: 100%;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  left: 0;
}

#restaurants .card .details .restaurant-name {
  font-size: 20px;
}

#restaurants .card .details .restaurant-location {
  text-align: left;
  font-size: 18px;
}

#restaurants .card .details .heart-icon {
  bottom: 30%;
  right: 6%;
  height: 30px;
  width: 30px;
}

#restaurants .card .details .heart-icon .fa-solid, #restaurants .card .details .heart-icon .fa-regular {
  top: 0;
  left: 0;
  font-size: 30px;
}

#restaurants .card .details .heart-icon .fa-solid {
  opacity: 0;
}

#restaurants .card .details .heart-icon .fa-regular {
  opacity: 1;
}

#restaurants img {
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: 80%;
  -o-object-position: 0% 60%;
     object-position: 0% 60%;
}

#restaurants .new {
  right: 20px;
  top: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 10px;
  background-color: #99E2D0;
  color: #2c9c81;
  font-size: 16px;
  font-weight: 600;
  height: auto;
  border: none;
  border-radius: 3px;
}

.container, .menu-container {
  left: 0;
  width: 100%;
  height: 100vh;
}

.menu-container {
  overflow-y: scroll;
}

.menu-container .back-arrow {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 25px;
}

.menu-container .logo {
  margin: 0 auto;
}

.menu-container aside .cta-btn {
  padding: 10px 40px;
  margin: 40px auto;
}

.menu-container .restaurant_background_image {
  width: 100%;
  height: 280px;
  z-index: -1;
}

.menu-container .menu {
  margin-top: -25px;
  border-radius: 30px 30px 0 0;
  padding-bottom: 20px;
  background: #F4F4F4;
  opacity: 1;
  -webkit-transform: perspective(2px);
          transform: perspective(2px);
  width: 100%;
}

.menu-container .menu--header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.menu-container .menu--header .heart-icon {
  position: relative;
  height: 30px;
  width: 30px;
}

.menu-container .menu--header .heart-icon .fa-regular {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
}

.menu-container .menu--header .heart-icon .fa-solid {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
  opacity: 0;
}

.menu-container .menu--title {
  font-family: 'Shrikhand', arial, sans-serif;
  text-align: left;
  height: 40px;
}

.menu-container .menu--title .title {
  letter-spacing: 1px;
  font-size: 25px;
  margin-right: 10px;
}

.menu-container .menu--starter-title, .menu-container .menu--main_course-title, .menu-container .menu--dessert-title {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}

.menu-container .menu--starter-title h4, .menu-container .menu--main_course-title h4, .menu-container .menu--dessert-title h4 {
  text-align: left;
  margin: 20px 0 15px 5px;
}

.menu-container .menu--starter-title .bar, .menu-container .menu--main_course-title .bar, .menu-container .menu--dessert-title .bar {
  position: absolute;
  left: 5px;
  bottom: 0;
  margin-bottom: 10px;
  width: 40px;
  height: 3px;
  background: rgba(60, 219, 203, 0.4);
}

.menu-container .menu--course-starter, .menu-container .menu--course-main_course, .menu-container .menu--course-dessert {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.menu-container .menu--course-starter .card:not(:last-of-type), .menu-container .menu--course-main_course .card:not(:last-of-type), .menu-container .menu--course-dessert .card:not(:last-of-type) {
  margin-bottom: 10px;
}

.menu-container .menu .card {
  border-radius: 10px;
  height: 65px;
  width: 100%;
  max-width: 500px;
  position: relative;
}

.menu-container .menu .card .dish {
  position: relative;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 750px;
  z-index: 2;
}

.menu-container .menu .card .dish .dish-details {
  width: 85%;
  height: 100%;
  padding: 5px;
}

.menu-container .menu .card .dish .dish-details > h3, .menu-container .menu .card .dish .dish-details > p {
  width: 100%;
  height: 50%;
  margin-right: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.menu-container .menu .card .dish p {
  opacity: 0.8;
}

.menu-container .menu .card .dish .dish-price {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 15px 10px 0;
  width: 15%;
  height: 100%;
  border-radius: 0 10px 10px 0;
  background-color: #fff;
}

.menu-container .menu .card .validation-btn {
  visibility: hidden;
  position: absolute;
  right: 0;
  height: 100%;
  width: 16%;
  background-color: rgba(60, 219, 203, 0.4);
  color: #fff;
  border-radius: 10px;
  z-index: 1;
}

.menu-container .menu .card .validation-btn i {
  margin-right: -5%;
  font-size: 20px;
}

.heart-icon > .fa-solid {
  background: linear-gradient(356deg, #9356dc 14%, #ff79da 100%);
  /* to make it fill the entire button */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.cta-btn {
  margin: 20px;
  padding: 10px 20px;
  background: linear-gradient(356deg, #9356dc 14%, #ff79da 100%);
  border-radius: 25px;
  border: none;
  -webkit-box-shadow: 0px 15px 15px -15px #999;
          box-shadow: 0px 15px 15px -15px #999;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 500;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container #CTA {
  padding: 50px 30px 40px 30px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.container #CTA h1 {
  font-size: 28px;
  margin: 20px 20px 0px 20px;
}

.container #CTA p {
  font-size: 18px;
  margin-top: 10px;
  color: #666;
}

.loading-page {
  background: radial-gradient(#f4F4F4 0%, #C4C4C4 100%);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 10;
}

.spinner-btn {
  width: 30px;
  height: 30px;
  background-color: #9356DC;
  margin-right: 10px;
}

.spinner-btn:nth-of-type(2) {
  background-color: #FF79DA;
}

/********* animations *********/
/* loading page */
@-webkit-keyframes loadingScreen {
  0%,
  85% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes loadingScreen {
  0%,
  85% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes loadingDots {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

@keyframes loadingDots {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

.loading-page {
  -webkit-animation: loadingScreen 2000ms 1 forwards;
          animation: loadingScreen 2000ms 1 forwards;
}

.spinner-btn:nth-of-type(1) {
  -webkit-animation: loadingDots 1000ms 2 ease-out;
          animation: loadingDots 1000ms 2 ease-out;
}

.spinner-btn:nth-of-type(2) {
  -webkit-animation: loadingDots 1200ms 2 ease-out;
          animation: loadingDots 1200ms 2 ease-out;
}

.spinner-btn:nth-of-type(3) {
  -webkit-animation: loadingDots 1400ms 2 ease-out;
          animation: loadingDots 1400ms 2 ease-out;
}

/* card appearance effect once the page is loaded */
@-webkit-keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

#explanations .card:nth-child(1) {
  -webkit-animation: 1s ease-out 2200ms 1 slideInLeft both;
          animation: 1s ease-out 2200ms 1 slideInLeft both;
}

#explanations .card:nth-child(2) {
  -webkit-animation: 1s ease-out 2400ms 1 slideInLeft both;
          animation: 1s ease-out 2400ms 1 slideInLeft both;
}

#explanations .card:nth-child(3) {
  -webkit-animation: 1s ease-out 2600ms 1 slideInLeft both;
          animation: 1s ease-out 2600ms 1 slideInLeft both;
}

#explanations .card:nth-child(4) {
  -webkit-animation: 1s ease-out 2800ms 1 slideInLeft both;
          animation: 1s ease-out 2800ms 1 slideInLeft both;
}

#explanations .card:hover {
  background: #f2eafb;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#explanations .card:hover i {
  color: #9356DC;
}

/* buttons */
.btn, .cta-btn {
  opacity: 1;
}

.btn:hover, .cta-btn:hover {
  opacity: .8;
  -webkit-box-shadow: 0px 15px 15px -15px #333;
          box-shadow: 0px 15px 15px -15px #333;
}

@-webkit-keyframes appearance {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes appearance {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes disappearance {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes disappearance {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.heart-icon .fa-regular:hover {
  -webkit-animation: disappearance 200ms 1 forwards ease-in;
          animation: disappearance 200ms 1 forwards ease-in;
}

.heart-icon .fa-solid:hover {
  -webkit-animation: appearance 200ms 1 forwards ease-in;
          animation: appearance 200ms 1 forwards ease-in;
}

/* menu cards appearance */
@-webkit-keyframes slideInBottom {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slideInBottom {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.menu--course-starter .card:nth-of-type(2), .menu--course-main_course .card:nth-of-type(2), .menu--course-dessert .card:nth-of-type(2) {
  -webkit-animation: slideInBottom 1s 400ms 1 ease-out both;
          animation: slideInBottom 1s 400ms 1 ease-out both;
}

.menu--course-starter .card:nth-of-type(3), .menu--course-main_course .card:nth-of-type(3), .menu--course-dessert .card:nth-of-type(3) {
  -webkit-animation: slideInBottom 1s 600ms 1 ease-out both;
          animation: slideInBottom 1s 600ms 1 ease-out both;
}

.menu--course-starter .card:nth-of-type(4), .menu--course-main_course .card:nth-of-type(4), .menu--course-dessert .card:nth-of-type(4) {
  -webkit-animation: slideInBottom 1s 800ms 1 ease-out both;
          animation: slideInBottom 1s 800ms 1 ease-out both;
}

.menu--course-starter .card:nth-of-type(5), .menu--course-main_course .card:nth-of-type(5), .menu--course-dessert .card:nth-of-type(5) {
  -webkit-animation: slideInBottom 1s 1000ms 1 ease-out both;
          animation: slideInBottom 1s 1000ms 1 ease-out both;
}

/* animation for the validation button */
@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-85%);
            transform: translateX(-85%);
  }
}
@keyframes slideInRight {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-85%);
            transform: translateX(-85%);
  }
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: translateX(50%) rotate(-270deg);
            transform: translateX(50%) rotate(-270deg);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: translateX(50%) rotate(-270deg);
            transform: translateX(50%) rotate(-270deg);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes shrink {
  from {
    width: 100%;
  }
  to {
    width: 85%;
  }
}

@keyframes shrink {
  from {
    width: 100%;
  }
  to {
    width: 85%;
  }
}

.menu--course-starter .card:hover .validation-btn, .menu--course-main_course .card:hover .validation-btn, .menu--course-dessert .card:hover .validation-btn {
  -webkit-animation: appearance 300ms ease-out both;
          animation: appearance 300ms ease-out both;
}

.menu--course-starter .card:hover .validation-btn i, .menu--course-main_course .card:hover .validation-btn i, .menu--course-dessert .card:hover .validation-btn i {
  -webkit-animation: rotation 300ms ease-out forwards;
          animation: rotation 300ms ease-out forwards;
}

.menu--course-starter .card:hover .dish .dish-price, .menu--course-main_course .card:hover .dish .dish-price, .menu--course-dessert .card:hover .dish .dish-price {
  -webkit-animation: slideInRight 300ms ease-out forwards;
          animation: slideInRight 300ms ease-out forwards;
}

.menu--course-starter .card:hover .dish .dish-details, .menu--course-main_course .card:hover .dish .dish-details, .menu--course-dessert .card:hover .dish .dish-details {
  -webkit-animation: shrink 200ms 1 ease-out forwards;
          animation: shrink 200ms 1 ease-out forwards;
}

/********* media queries tablet and desktop *********/
@media screen and (min-width: 768px) {
  body {
    background-color: #fff;
    height: 100vh;
  }
  .container {
    overflow-y: scroll;
    scroll-behavior: smooth;
    -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
  }
  .page {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
  }
  .page:first-child {
    height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 1fr;
        grid-template-columns: 3fr 1fr;
        grid-template-areas: 'header header' 'section aside' 'section aside';
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: header;
    height: 20vh;
    width: 100%;
    right: 5px;
  }
  header #location {
    bottom: 0;
    width: 100%;
  }
  .title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
  }
  #explanations {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: section;
    height: 100vh;
    color: #9356DC;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgba(0, 0, 0, 0.3) url("../../images/restaurants/a_la_francaise.jpg") no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
  }
  #explanations .box-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-backdrop-filter: blur(8px) brightness(0.6);
            backdrop-filter: blur(8px) brightness(0.6);
  }
  #explanations .explanation--content {
    margin-top: 130px;
    width: 60%;
    z-index: 2;
  }
  #explanations .explanation--content .title {
    font-size: 40px;
    font-weight: 700;
  }
  #explanations .explanation--content .card {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    background: linear-gradient(-10deg, #ff79da 0%, #9356dc 100%);
    color: #fff;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #explanations .explanation--content .card p {
    font-weight: 400;
    font-size: 1.5rem;
    width: 75%;
  }
  #explanations .explanation--content .card button.steps {
    background-color: #FF79DA;
    width: 2rem;
    height: 2rem;
    top: 25%;
  }
  #explanations .explanation--content .card:hover {
    background: #fff linear-gradient(-10deg, rgba(255, 121, 218, 0.8) 0%, rgba(147, 86, 220, 0.8) 100%);
  }
  #explanations .explanation--content .card i {
    color: #fff;
  }
  #explanations .card:not(:last-child) {
    margin-bottom: 30px;
  }
  #explanations .shadow {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .container #CTA {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: aside;
    background-color: #F4F4F4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
  }
  .container #CTA .cta-btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #CTA::before {
    display: block;
    content: "";
    height: 60px;
  }
  #restaurants {
    max-height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #restaurants .title {
    margin-top: 30px;
  }
  #restaurants .restaurants--cards {
    width: 80%;
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #restaurants .restaurants--cards .card {
    width: 45%;
    height: 45%;
    position: relative;
  }
  #restaurants .restaurants--cards .card img {
    height: 80%;
    width: 100%;
  }
  footer {
    height: 100vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer img {
    visibility: hidden;
  }
  footer .footer--navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  footer .footer--navbar ul {
    line-height: 2rem;
  }
  footer .footer--navbar ul li {
    text-align: left;
    font-size: 18px;
    font-weight: 500;
  }
  footer .footer--navbar ul li:hover {
    border-bottom: 2px solid #fff;
  }
  /****** menu pages ******/
  .menu-container {
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    width: 100vw;
    height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20vw 60vw 20vw;
        grid-template-columns: 20vw 60vw 20vw;
    -ms-grid-rows: 4fr 1fr;
        grid-template-rows: 4fr 1fr;
  }
  .menu-container .restaurant_background_image {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    height: 100vh;
    position: fixed;
  }
  .menu-container .restaurant_background_image img {
    margin-left: -20%;
    z-index: -1;
    opacity: 0.7;
    width: 100vw;
    min-width: 1000px;
    height: 100vh;
    overflow: hidden;
  }
  .menu-container .restaurant_background_image img.page2 {
    margin-left: -30%;
    margin-top: -10%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .menu-container .menu {
    margin-top: 50px;
    padding: 50px 70px 20px 70px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/ 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    border-bottom: 2px solid #ddd;
  }
  .menu-container .menu--title {
    margin-bottom: 20px;
  }
  .menu-container .menu--title .title {
    font-size: 30px;
  }
  .menu-container .menu .card {
    height: 80px;
    padding: 0 5px;
    border-radius: 20px;
  }
  .menu-container #CTA {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/ 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    height: 120px;
    padding-bottom: 30px;
  }
  .menu-container footer {
    height: 100vh;
    width: 20%;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    right: 5px;
    position: fixed;
  }
  .menu-container footer .title {
    font-size: 28px;
  }
  .menu-container footer li {
    padding: 10px 0;
  }
}

header {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 5;
}

#location {
  width: 100%;
  bottom: 0;
  font-weight: 500;
  color: #111;
}

#location i {
  top: -2px;
  margin-right: 5px;
  font-size: 15px;
}

#location i, #location span {
  opacity: .7;
}

.logo {
  max-width: 150px;
  height: 25px;
  margin: 5px auto;
}

.logo-box {
  height: 60px;
  width: 100%;
  -webkit-box-shadow: 3px 3px 5px rgba(200, 200, 200, 0.4);
          box-shadow: 3px 3px 5px rgba(200, 200, 200, 0.4);
}

footer {
  padding: 30px 20px;
  background-color: #333;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

footer nav {
  position: relative;
  top: 30px;
  width: 80%;
  height: 100%;
  left: 0;
  margin: 10px 0 30px 0;
}

footer nav li {
  text-align: left;
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 7px;
  color: #fff;
}

footer nav li a {
  color: #fff;
}

footer img {
  position: absolute;
  top: 20px;
  left: 20px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  height: 80%;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */