@import './resets';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import '../Utilities/variables';
@import '../Pages/menus';
@import '../Layout/animations';
@import '../Layout/media-queries';

* {
    text-align: center;
    margin: 0;
    padding: 0;
    z-index: 1;
}

a {
    text-decoration: none;
    color: #111;
}

a:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}

html {
    min-width: 320px;
    max-width: 1440px;
    scroll-behavior: smooth;
}

/* custom scrollbar */

.container::-webkit-scrollbar {
    width: 5px; 
}

.container::-webkit-scrollbar-track {
    background-color: $color-lightgray;
}

.container::-webkit-scrollbar-thumb {
    background: $color-primary;
    border-radius: 25px;
}

body {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    font-family : 'Roboto', Arial, 'sans-serif';
    background-color: $bg-color;
    color: $text-color;
    overflow-x: hidden;
}

.container, .menu-container {
    left: 0;
    width: 100%;
    height: 100vh;
}

.container {
    aside {
        margin-top: 90px; /* to make the content visible */
    }
}

.loading-page {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#f4F4F4 0%, #C4C4C4 100%);
    height: 100vh;
    width: 100vw;
    z-index: 3;
}

.loading-spinner {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $color-primary;
    margin-right: 10px;

    &:nth-of-type(2) {
        background-color: $color-secondary;
    }
}

/* header */

header {
    height: fit-content;
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    z-index: 2;
}

#location {
    width: 100%;
    padding: 10px;
    bottom: 0;
    font-weight: 500;
    
    i{
        top: -2px;
        margin-right: 5px;
    }
    
    i, span {
        opacity: .7;
    }
}

.logo {
    max-width: 150px;
    height: 30px;
}

.logo-box {
    height: 50px;
    width: 100%;
    box-shadow: 2px 2px 5px $color-discreet;
}

/******** all sections *********/

section {
    padding: 30px 15px;

    .title {
        margin-bottom: 20px;
        text-align: left;
    }
}

/* main page */

aside {
    padding: 20px 15px 20px 15px;
    height: fit-content;

    .cta-btn {
        margin: 20px;
        padding: 10px 20px;
        background: linear-gradient(356deg, rgba(147,86,220,1) 14%, rgba(255,121,218,1) 100%);
        border-radius: 20px;
        border: none;
        box-shadow: 0px 29px 58px -15px $color-discreet;
        width: fit-content;
        font-weight: 500;
        align-self: center;
    }
}

/********** sections **********/

#explanations {
    margin-bottom: 0;

    .card {
        position: relative;
        width: 100%;
        padding: 20px 30px;
        border-radius: 20px;
        box-shadow: 0px 29px 58px -5px $color-discreet;
        
        i {
            font-weight: 600;
            font-size: 1.4rem;
            color: #777;
            margin-left: 10px;
        }
        
        p {
            font-weight: 600;
            font-size: 1.3rem;
            margin-left: 25px;
        }
        
        .steps {
            position: absolute;
            left: -8px;
            top: 32%;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            font-size: 12px;
            font-weight: 500;
            border: none;
            background-color: $color-primary;
            color: $color-white;
        }
    }
    
    .card:not(:last-child) {
        margin-bottom: 15px;
    }
}

#restaurants {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding-top: 100px;
    scroll-snap-align: center;

    a {
        &:hover {
            transform: scale(1.01);
        }
    }

    .card {
        height: 400px;
        width: 100%;
        position: relative;
        margin-bottom: 20px;
    }

    .details {
        margin: 10px;
    }

    .restaurant-location {
        text-align: left;
    }
    
    img {
        border-radius: 20px 20px 0 0;
        object-fit: cover;
        max-width: 100%;
        height: 80%;
        object-position: 0% 60%;
    }

    .new {
        position: absolute;
        right: 20px;
        top: 20px;
        width: fit-content;
        padding: 5px;
        background-color: $color-tertiary;
        color: darken($color-tertiary, 30%);
        height: auto;
        border: none;
    }

    .heart-icon {
        position: absolute;
        bottom: 35px;
        right: 35px;
        height: 30px;
        width: 30px;

        .fa-solid, .fa-regular {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 30px;
        }

        .fa-solid {
            opacity: 0;
            color: $color-primary;
        }

        .fa-regular {
            opacity: 1;
        }
    }
}

/* footer */

footer {
    margin: 0;
    padding: 10px;
    background-color: #444;
    
    nav {
        width: 80%;
        height: 100%;
        left: 0;
        padding: 10px;
    }

    img {
        margin-bottom: 10px;
        filter: invert(100%);
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li{
        text-align: left;
        list-style-type: none;
        margin-left: 0;
        margin-bottom: 7px;
        color: $color-white;

        a{
            color: $color-white;
        }
    }
}