/********* animations *********/

/* loading page */
$loading-time: 2000ms;

@keyframes loadingScreen {
    0%{
        opacity: 1;
        visibility: visible;
    }
    85%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes loadingDots {
    0%{
        transform: translateY(0);
    }
    100% {
        transform: translateY(-30px);
    }
}

.loading-page {
    animation: loadingScreen $loading-time 1 forwards;
}

.spinner-btn {
    animation: loadingDots $loading-time/2 2 ease-out;

    &:nth-of-type(2){
        animation-delay: 200ms;
    }
    
    &:nth-of-type(3){
        animation-delay: 400ms;
    }
}



/* card appearance effect once the page is loaded */

$delay-time: 200ms;

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes transitionDelay { /* to keep the card opacity to 0 before the animation */
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

@mixin loadingTime {
    @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
            animation: #{$i * $delay-time + $loading-time} transitionDelay,
                    1s ease-out #{$i * $delay-time + $loading-time} 1 slideInLeft forwards;
        }
    }
}

#explanations .card {
    @include loadingTime;
}


#explanations .card:hover {
    background: lighten($color-primary, 35%);
    transition: all 0.3s ease-out;

    i{
        color: $color-primary;
    }
}

/* buttons */
.btn, .cta-btn {
    opacity: 1;

    &:hover {
        opacity: .8;
        box-shadow: 0px 15px 15px -15px #333;
    }
}

@keyframes buttonAppear {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes buttonDisappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.heart-icon {
    .fa-regular:hover{
        animation: buttonDisappear 200ms 1 forwards ease-in;
    }
    .fa-solid:hover{
        animation:buttonAppear 200ms 1 forwards ease-in;
    }
}

/* menu cards appearance */

@keyframes slideInBottom {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@mixin menuCardAppearance {
    @for $i from 2 through 5 {
        &:nth-of-type(#{$i}) {
        animation: transitionDelay #{$i * $delay-time} 1,
                    slideInBottom 1s #{$i * $delay-time} 1 ease-out;
    }
}
}

.menu--course-starter, .menu--course-main_course, .menu--course-dessert {
    .card {
    @include menuCardAppearance;
    }
}

/* animation for the validation button */

$validation-btn-timing: 300ms;

@keyframes slideInRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-75%);
    }
}
@keyframes appearance {
    from {
        visibility: hidden;
    }
    to{
        visibility: visible;
    }
}

@keyframes rotation {
    0% {
        transform: translateX(50%) rotate(-270deg);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes shrink {
    from{
        width: 85%;
    }
    to {
        width: 70%;
    }
}

.menu--course-starter, .menu--course-main_course, .menu--course-dessert {
    .card {
        &:hover {
            .validation-btn {
                animation:  appearance $validation-btn-timing ease-out both;
                i{
                    animation: rotation $validation-btn-timing ease-out forwards;
                }        
            }
            .dish{
                .dish-price{
                    animation: slideInRight $validation-btn-timing ease-out forwards;
                }
                .dish-details {
                    animation: shrink 200ms 1 ease-out forwards;
                }
            }
        }
    }
}
