$loading-page: 2000ms;
$delay: 200ms;
/********* animations *********/

/* loading page */

@keyframes loadingScreen {
    0%, 
    85%{
        opacity: 1;
        visibility: visible;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes loadingDots {
    0%{
        transform: translateY(0);
    }
    100% {
        transform: translateY(-30px);
    }
}

.loading-page {
    animation: loadingScreen $loading-page 1 forwards;
}

@mixin spinner {
    $card-length: 3;
    $repetition: 2;
    @for $i from 1 to $card-length+1 {
        .spinner-btn {
            &:nth-of-type(#{$i}){
                $loading-total: $loading-page/$repetition+(($i)-1)*$delay;
                animation: loadingDots $loading-total $repetition ease-out;
            }
        }
    }
}
@include spinner;


/* card appearance effect once the page is loaded */


@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@mixin loadingTime {
    @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
            animation: 1s ease-out #{$i * $delay + $loading-page} 1 slideInLeft both;
        }
    }
}

#explanations .card {
    @include loadingTime;
}


#explanations .card:hover {
    background: lighten($color-primary, 35%);
    transition: all 0.3s ease-out;

    i{
        color: $color-primary;
    }
}

/* buttons */
.btn, .cta-btn {
    opacity: 1;

    &:hover {
        opacity: .8;
        box-shadow: 0px 15px 15px -15px #333;
    }
}

@keyframes appearance {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes disappearance {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.heart-icon {
    .fa-regular:hover{
        animation: disappearance 200ms 1 forwards ease-in;
    }
    .fa-solid:hover{
        animation: appearance 200ms 1 forwards ease-in;
    }
}

/* menu cards appearance */

@keyframes slideInBottom {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@mixin menuCardAnimation {
    @for $i from 2 through 5 {
        &:nth-of-type(#{$i}) {
        animation: slideInBottom 1s #{$i * $delay} 1 ease-out both;
    }
}
}

.menu--course-starter, .menu--course-main_course, .menu--course-dessert {
    .card {
    @include menuCardAnimation;
    }
}

/* animation for the validation button */

$validation-btn-timing: 300ms;
$total: 100%;
$gap: 15%;

@keyframes slideInRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-($total - $gap));
    }
}

@keyframes rotation {
    0% {
        transform: translateX(50%) rotate(-270deg);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes shrink {
    from{
        width: $total;
    }
    to {
        width: $total - $gap;
    }
}

.menu--course-starter, .menu--course-main_course, .menu--course-dessert {
    .card {
        &:hover {
            .validation-btn {
                animation:  appearance $validation-btn-timing ease-out both;
                i{
                    animation: rotation $validation-btn-timing ease-out forwards;
                }        
            }
            .dish{
                .dish-price{
                    animation: slideInRight $validation-btn-timing ease-out forwards;
                }
                .dish-details {
                    animation: shrink 200ms 1 ease-out forwards;
                }
            }
        }
    }
}
