/********* media queries tablet and desktop *********/

@media screen and(min-width: 768px) {

    body {
        background-color: $color-white;
        height: 100vh;
    }
    
    .container {
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
    }

    .page {
        width: 100%;
        height: 100vh;
        scroll-snap-align: start;
    }

    .page:first-child {
        height: 100vh;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-areas: 
        'header header'
        'section aside'
        'section aside';
    }

    header {
        grid-area: header;
        height: 20vh;
        width: 100%;
        right: 5px;

        #location {
            bottom: 0;
            width: 100%;
        }
    }

    .title {
        text-align: center;
        font-size: 30px;
        font-weight: 700;
    }

    
    #explanations {
        grid-area: section;
        height: 100vh;
        color: $color-primary;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.3) url("../../images/restaurants/a_la_francaise.jpg") no-repeat;
        background-size: cover;
        background-blend-mode: multiply;
        
        .box-color {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            backdrop-filter: blur(8px) brightness(0.6);
        }
        
        .explanation--content {
            margin-top: 130px;
            width: 60%;
            z-index: 2;

            .title {
                font-size: 40px;
                font-weight: 700;
            }

            .card {
                height: fit-content;
                width: 100%;
                @include linearGradient(350deg, $color-primary, $color-secondary, 5%);
                color: $color-white;
                justify-content: center;
                align-items: center;
    
                p{
                font-weight: 400;
                font-size: 1.5rem;
                width: 75%;
                }
    
                button.steps {
                    background-color: $color-secondary;
                    width: 2rem;
                    height: 2rem;
                    top: 25%;
                }
                
                &:hover {
                    @include linearGradient(350deg, $color-primary, $color-secondary, 10%);
                }

                i{
                    color: $color-white;
                }
            }
    
        }


        .card:not(:last-child) {
            margin-bottom: 30px;
        }

        .shadow {
            box-shadow: none;
        }
    }
    
    .container #CTA {
        grid-area: aside;
        background-color: $bg-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;

        .cta-btn {
            align-self: center;
        }
    }

    #CTA::before {
        @include homeBlockContainer;
    }


    #restaurants {
        max-height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .title {
            margin-top: 30px;
        }

        .restaurants--cards {
            width: 80%;
            height: 80vh;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            .card {
                width: 45%;
                height: 45%;
                position: relative;
                
                img{
                    height: 80%;
                    width: 100%;
                }
            }
        }

    }

    footer {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        img{
            visibility:hidden;
        }

        .footer--navbar {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            
            ul {
                line-height: 2rem;
                
                li{
                    text-align: left;
                    font-size: 18px;
                    font-weight: 500;
                    &:hover {
                        border-bottom: 2px solid $color-white;
                    }
                }
            }
        }
    }

    /****** menu pages ******/

    .menu-container {
        max-height: fit-content;
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 20vw 60vw 20vw;
        grid-template-rows: 4fr 1fr;

        .restaurant_background_image {
            grid-column: 1 / 2;
            grid-row: 1/3;
            height: 100vh;
            position: fixed;
            
            img{
                margin-left: -20%;
                z-index: -1;
                opacity: 0.7;
                width: 100vw;
                min-width: 1000px;
                height: 100vh;
                overflow: hidden;

                &.page2{
                    margin-left: -30%;
                    margin-top: -10%;
                    height: fit-content;
                }
            }
        }
        .menu {
            margin-top: 50px;
            padding: 50px 70px 20px 70px;
            grid-column: 2/ 3;
            grid-row: 1 / 2;
            border-bottom: 2px solid #ddd;

            &--title {
                margin-bottom: 20px;

                .title {
                    font-size: 30px;
                }
            }
            .card {
                height: 80px;
                padding: 0 5px;
                border-radius: 20px;
            }
        }
        #CTA {
            grid-column: 2/ 3;
            grid-row: 2/4;
            height: 120px;
            padding-bottom: 30px;
        }
        footer {
            height: 100vh;
            width: 20%;
            grid-column: 3/4;
            grid-row: 1/3;
            right: 5px;
            position: fixed;

            .title {
                font-size: 28px;
            }

            li{
                padding: 10px 0;
            }
        }
    }
}