
@mixin menuBlockContainer {
    display: block;
    content: "";
    height: 60px;
}

@mixin homeBlockContainer {
    display: block;
    content: "";
    height: 90px;
}

@mixin linearGradient($angle, $firstColor, $secondColor, $value){
background: linear-gradient($angle, lighten($firstColor, $value) 14%, lighten($secondColor, $value) 100%);
}
@mixin boxShadow {
    box-shadow: 0px 15px 15px -15px #999;
}
