.colorPrimary {
    background-color: $color-primary;
}

.colorSecondary {
    background-color: $color-secondary;
}

.flex-container {
    display: flex;
    align-items: center;
}

.column {
    flex-direction: column;
}

.card {
    box-shadow: 10px 10px 20px #333;
    margin: 5%;
}

.rounded {
    border-radius: 2rem;
}

a {
    text-decoration: none;
    transform: scale(1);
    
    &:hover {
        transform: scale(1.15);
        transition: transform 200ms ease-out;
    }
}

.f-w {
    color: #fff;
} 

img {
    width: 100%;
}
  
.hidden {
    display: none;
}

.show {
    display: inline-block;
}

.highlighted {
    color: $color-highlighted;
}
  
.discreet {
    color: #AAA;
}
  
.uppercase {
    text-transform: uppercase;
}

h2 {
    line-height: 2.2rem;
    font-weight: 500;
    font-size: 2.5rem;
  }
  
  h3 {
    font-weight: 550;
    font-size: 1.7rem;
  }
  
  h4 {
    font-weight: 550;
    font-size: 1.2rem;
  }

  
.banner {
    margin-top: 75px;
  }

.btn {
    padding: .5rem;
    width: fit-content;
    height: fit-content;
    transform: scale(1);
    transition: all 250ms ease-out;
    color: $white;

    &:hover {
        transform: scale(1.1);
        background-color: $color-highlighted;
    }
}