$scrollbar-width : 4px;
$bg-dark : #111;
$bg-color: #F4F4F4;

$color-primary : #9356DC;
$color-secondary : #FF79DA;
$color-tertiary : #99E2D0;
$text-color: #111;
$color-white: #fff;
$color-discreet: rgba(200, 200, 200, .4);
$color-lightgray: #F4F4F4;

/* display */ 

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

// positions

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

/* to organise flexboxes and grids */

.main-axis-center {
    display: flex;
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.cross-axis-center {
    display: flex;
    align-items: center;
}

.column {
    flex-direction: column;
}

/*cards */

.card {
    height: fit-content;
    background-color: $color-white;
    box-shadow: 0px 14px 20px -12px rgba(176,176,176,.5);
}

.shadow {
box-shadow: 5px 5px 10px #AAA;
}

.rounded-1 {
    border-radius: 10px;
}

.rounded-2 {
    border-radius: 20px;
}

.circle {
    border-radius: 50%;
}


/* objects */

a {
    text-decoration: none;
    transform: scale(1);
    
    &:hover {
        transform: scale(1.15);
        transition: transform 200ms ease-out;
    }
}

img {
    width: 100%;
}
  
.hidden {
    display: none;
}

.show {
    display: inline-block;
}

/* text */

.uppercase {
    text-transform: uppercase;
}

h1{
    line-height: 2rem;
    font-weight: 600;
    font-size: 1.5rem;
}

h2 {
    line-height: 2.2rem;
    font-weight: 600;
    font-size: 1.3rem;
  }
  
  h3 {
    font-weight: 550;
    font-size: 1.1rem;
  }
  
  h4 {
    font-weight: 400;
    font-size: 1rem;
  }

  
.banner {
    margin-top: 75px;
}

.text-center {
    text-align: center;
}

/* colors */

.bg-primary {
    background-color: $color-primary;
}

.bg-secondary {
    background-color: $color-secondary;
}

.bg-tertiary {
    background-color: $color-tertiary;
}

.bg-color {
    background-color: $bg-color;
}

.bg-discreet {
    background-color: $color-discreet;
}

.bg-lightgray {
    background-color: $color-lightgray;
}

.bg-dark {
    background-color: $bg-dark;
}

.discreet {
    color: $color-discreet;
}

.f-white {
    color: $color-white;
}

.f-lightgray {
    color: $color-lightgray;
}

.highlighted {
    color: $color-primary;
}

.color-secondary {
    color: $color-secondary;
}

.color-tertiary {
    color: $color-tertiary;
}

// sizes and gutters 

$gutter : 0.25em;

// padding in em 
@mixin padding{
    @for $i from 0 to 6 {
        .p-#{$i} {
            padding: $i*$gutter;
        }
        .px-#{$i} {
            padding: 0px ($i*$gutter) ;
        }
        .py-#{$i} {
            padding: ($i*$gutter) 0px;
        }
    }
}
@include padding;

// margin in em
@mixin margin {
    @for $i from 0 to 6 {
    .m-#{$i} {
        margin: $i*$gutter;
    }
    .mx-#{$i} {
        margin : 0px ($i*$gutter);
    }
    .my-#{$i} {
        margin : ($i*$gutter) 0px;
    }
    }
}
@include margin ;
