.heart-icon > .fa-solid {
    @include linearGradient(356deg, $color-primary, $color-secondary, 5%);
     /* to make it fill the entire button */ 
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.cta-btn {
    margin: 20px;
    padding: 10px 20px;
    @include linearGradient(356deg, $color-primary, $color-secondary, 5%);
    border-radius: 25px;
    border: none;
    @include boxShadow;
    width: fit-content;
    font-weight: 500;
    align-self: center;
}

.container{
    #CTA {
        padding: 50px 30px 40px 30px;
        height: fit-content;

        h1{
            font-size: 28px;
            margin: 20px 20px 0px 20px
        }
        
        p{
            font-size: 18px;
            margin-top: 10px;
            color: #666;
        }
    }
}
