/* display */
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-grid {
  display: -ms-grid;
  display: grid;
}

/* to organise flexboxes and grids */
.main-axis-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cross-axis-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*cards */
.card {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
}

.shadow {
  -webkit-box-shadow: 5px 5px 10px #AAA;
          box-shadow: 5px 5px 10px #AAA;
}

.rounded {
  border-radius: 20px;
}

/* objects */
a {
  text-decoration: none;
  -webkit-transform: scale(1);
          transform: scale(1);
}

a:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

img {
  width: 100%;
}

.hidden {
  display: none;
}

.show {
  display: inline-block;
}

/* text */
.uppercase {
  text-transform: uppercase;
}

h1 {
  line-height: 2rem;
  font-weight: 600;
  font-size: 1.5rem;
}

h2 {
  line-height: 2.2rem;
  font-weight: 600;
  font-size: 1.3rem;
}

h3 {
  font-weight: 550;
  font-size: 1.1rem;
}

h4 {
  font-weight: 400;
  font-size: 1rem;
}

.banner {
  margin-top: 75px;
}

/* colors */
.bg-primary {
  background-color: #9356DC;
}

.bg-secondary {
  background-color: #FF79DA;
}

.bg-tertiary {
  background-color: #99E2D0;
}

.bg-color {
  background-color: #F4F4F4;
}

.bg-discreet {
  background-color: rgba(200, 200, 200, 0.5);
}

.bg-lightgray {
  background-color: #F4F4F4;
}

.bg-dark {
  background-color: #111;
}

.discreet {
  color: rgba(200, 200, 200, 0.5);
}

.f-white {
  color: #fff;
}

.f-lightgray {
  color: #F4F4F4;
}

.highlighted {
  color: #9356DC;
}

.color-secondary {
  color: #FF79DA;
}

.color-tertiary {
  color: #99E2D0;
}

.container, .menu-container {
  left: 0;
  width: 100%;
  height: 100vh;
}

.menu-container .back-arrow {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 25px;
}

.menu-container .logo {
  margin: 0 auto;
}

.restaurant_background_image {
  width: 100%;
  height: 280px;
  z-index: -1;
  background-size: cover;
}

.menu {
  margin-top: -25px;
  border-radius: 30px 30px 0 0;
  background: #F4F4F4;
  opacity: 1;
  -webkit-transform: perspective(2px);
          transform: perspective(2px);
  width: 100%;
}

.menu--header {
  width: 100%;
}

.menu--header .heart-icon {
  position: relative;
  top: 0;
  right: 20px;
  height: 30px;
  width: 30px;
}

.menu--header .heart-icon .fa-regular {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
}

.menu--header .heart-icon .fa-solid {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
  color: #9356DC;
  opacity: 0;
}

.menu--title {
  font-family: 'Shrikhand', arial, sans-serif;
  text-align: left;
  height: 40px;
}

.menu--title .title {
  letter-spacing: 1px;
  font-size: 25px;
}

.menu--starter-title, .menu--main_course-title, .menu--dessert-title {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}

.menu--starter-title h4, .menu--main_course-title h4, .menu--dessert-title h4 {
  text-align: left;
  margin: 20px 0 15px 5px;
}

.menu--starter-title .bar, .menu--main_course-title .bar, .menu--dessert-title .bar {
  position: absolute;
  left: 5px;
  bottom: 0;
  margin-bottom: 10px;
  width: 40px;
  height: 3px;
  background: rgba(60, 219, 203, 0.4);
}

.menu--course-starter, .menu--course-main_course, .menu--course-dessert {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.menu--course-starter .card:not(:last-of-type), .menu--course-main_course .card:not(:last-of-type), .menu--course-dessert .card:not(:last-of-type) {
  margin-bottom: 10px;
}

.menu .card {
  border-radius: 10px;
  height: 65px;
  width: 90%;
  margin-left: 5px;
  position: relative;
}

.menu .card .dish {
  position: relative;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 7px;
  padding: 0;
}

.menu .card .dish h3, .menu .card .dish p {
  text-align: left;
}

.menu .card .dish p {
  opacity: 0.8;
}

.menu .card .dish .dish-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 5px 5px 0;
  width: 15%;
  height: 100%;
  border-radius: 0 10px 10px 0;
  background-color: #fff;
}

.menu .card .validation-btn {
  visibility: hidden;
  position: absolute;
  right: 0;
  height: 65px;
  width: 15%;
  background-color: rgba(60, 219, 203, 0.4);
  color: #fff;
  border-radius: 10px;
  z-index: -1;
}

.menu .card .validation-btn i {
  margin-left: 15px;
  font-size: 20px;
}
/*# sourceMappingURL=menus.css.map */